<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Table</title>
</head>
<body>
<table border="1px" id="myTable">
    <tr>
        <th>id</th>
        <th>L-1</th>
    </tr>
    {{#each users}}
        <tr id="columns">
            <td width="200">{{this.id}}</td>
            <td width="200" onclick="openLevel( {{this.id}}, {{this.isLeaf}}, 'l2', this)">{{this.l1}}</td>
        </tr>
    {{/each}}
</table>
<script>
    function openLevel(id, isLeaf, level, element) {
        if (isLeaf) {
            const data = {
                id: id,
                level: level
            };
            fetch('/elements/open', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                    .then(response => response.json())
                    .then(newData => {
                        document.getElementById('myTable').querySelectorAll('tr').forEach((child) => {
                            let column = document.createElement('td');
                            column.onclick = function () {
                                openLevel(newData.id, newData.isLeaf, 'l' + (parseInt(level.substring(1)) + 1), column);
                            }
                            column.width = "200";
                            column.textContent = newData.label;
                            if (child.querySelector('td') != null) {
                                if (parseInt(child.querySelector('td').textContent) === parseInt(newData.id)) {
                                    child.appendChild(column);

                                    let header = document.getElementById('myTable').querySelector('tr');
                                    console.log(header);
                                    if (header.querySelectorAll('th').length < child.querySelectorAll('td').length){
                                        let th = document.createElement('th');
                                        th.textContent = 'L-' + parseInt(level.substring(1));
                                        header.appendChild(th);
                                    }

                                }
                            }
                            element.onclick = null;
                        });
                    })
                    .catch(error => {
                        // Обработка ошибок
                    });
        }
    }
</script>
</body>
</html>